/* This style is for nvbar */
.nvbar{
    height:50px;
    width: 100%
}
.logo{
    max-height:100%;
    width:100px
}
li {
 padding-left: 2px;
 padding-right: 20px
}
.navbar {
    padding-right: 100px;
    padding-left: 100px;
} 
/* This form's style is for login in and register  */
.form_container {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
    margin-bottom: 200 px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 70px 20px 70px;
    background-color: #152733;
    box-shadow: 0px 106px 42px rgba(0, 0, 0, 0.01),
      0px 59px 36px rgba(0, 0, 0, 0.05), 0px 26px 26px rgba(0, 0, 0, 0.09),
      0px 7px 15px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
      border: 3px solid #fff;
    font-family: "Inter", sans-serif;
  }
  
.gap_form {
  width: 100%;
  height:100px;
}

  .logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(180deg, rgba(248, 248, 248, 0) 50%, #F8F8F888 100%);
    border: 3px solid #fff;
    filter: drop-shadow(0px 0.5px 0.5px #EFEFEF) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
  }
  
  .title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .title {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 700;
    color: #8B8E98;
  }
  
  .subtitle {
    font-size: 0.725rem;
    max-width: 80%;
    text-align: center;
    line-height: 1.1rem;
    color: #8B8E98
  }
  
  .input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 9px;
  }
  
  .input_label {
    font-size: 0.75rem;
    color: #8B8E98;
    font-weight: 600;
  }
  
  .input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
  }
  
  .input_field:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 0px 2px #242424;
    background-color: transparent;
  }
  
  .sign-in_btn {
    width: 100%;
    height: 40px;
    border: 0;
    background: #115DFC;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .sign-in_ggl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #ffffff;
    border-radius: 7px;
    outline: none;
    color: #242424;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: #212121;
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef)
      drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
  }
  
  .separator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    color: #8B8E98;
  }
  
  .separator .line {
    display: block;
    width: 100%;
    height: 1px;
    border: 0;
    background-color: #e8e8e8;
  }
  
  .note {
    font-size: 0.75rem;
    color: #8B8E98;
    text-decoration: underline;
  }

  /* This style is for each car post in the home page */

  

.card-footer {
   width:100%;
   height:50px;
   background-color: #152733;
}

  article.card.car-details h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  article.card.car-details ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  article.card.car-details ul li {
    margin-bottom: 1rem;
  }
  article.card.car-details ul li i {
    width: 24px;
  }
  article.card.car-details ul.rating {
    display: flex;
    font-size: 0.95rem;
    margin-top: 1rem;
  }
  article.card.car-details ul.rating li {
    margin-bottom: 0;
  }
  article.card.car-details ul.rating li:not(:last-child) {
    margin-right: 0.25rem;
  }
  article.card.car-details .thumbnail {
    width: 220px;
    height: 170px;
    margin-right: 1rem;
    border: 1px solid #e9ecef;
    cursor: zoom-in;
  }
  article.card.car-details .thumbnail:after {
    content: "\f00e";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: 0.35rem 0.75rem;
    border: 3px solid #e9ecef;
    /*background: #0000000d;*/
    color: #6c757d;
  }
  article.card.car-details:not(:last-child) {
    margin-bottom: 2rem;
  }
  article.card.car-details:hover {
    background: #f8f9fa;
  }
  article.card.car-details:before {
    width: 200px;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    z-index: 1;
    text-align: center;
    padding: 0.35rem;
    top: 35px;
    left: -50px;
    font-weight: bold;
  }
  article.card.car-details.new:before {
    content: "NEW";
  }
  article.card.car-details.sponsored:before {
    content: "SPONSORED";
  }
  article.card.car-details.label-info:before {
    background: #1DA1F2;
  }
  article.card.car-details.label-primary:before {
    background: #004b9d;
  }
  article.card.car-details.label-success:before {
    background: #218939;
  }
  article.card.car-details.label-warning:before {
    background: #cb9b08;
  }
  article.card.car-details.label-danger:before {
    background: #b23737;
  }
  article.card.car-details.label-purple:before {
    background: #7032c2;
  }
  
  .text-grey {
    color: #bbbbbb;
  }
  
  .btn-default {
    background: #fff;
    border: 1px solid #e9ecef;
  }
  .btn-default i {
    color: #8e6c06;
  }

  .image {
    width: 100%; /* set the width of the image to 100% of the div */
    height: 100%; /* set the height of the image to auto to maintain aspect ratio */
    object-fit: cover; /* scale the image to cover the entire container */
  }

    /* This style is for the the pagination in the bottom before the footer  */
  #pagination{
    margin-top:20px;
    margin-bottom: 350px;
  }

  .page-item {
    background-color: royalblue;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 0px;
    padding-right:  0px;
    text-align: center;
    transition: background-color .3s ease;
}

.page-item :hover {
    background-color: #eee;
    color: #333;
}

.page-item.active {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

/*This style is for the footer */
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:300);

body {
    font-family: 'Alegreya Sans', sans-serif;
    background-color: #152733;
}

/* Sticky footer position and size
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  margin-top: 100px;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
  padding-bottom: 300px;
}

/* Taller footer on small screens */
@media (max-width: 567em) {
    body {
      margin-bottom: 300px;
    }
    .footer {
      height: 300px;
    }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 30px;
  margin-top: 100px;
  background-color: #292c2f;
  color: #bbb;
}

footer a {
  color: #999;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #aaa;
  text-decoration:none;
  border-bottom:1px dotted #999;
}

footer .form-control {
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    color: #d1d2d2;
    padding: 0.7em 1em;
}

/* This style is for the categories in th categories page*/
.category_brand {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 18px;
  text-align: center;
  width: calc(25% - 20px);
  max-width: 200px;
  height: 200px
}

.list_categories {
  list-style: none;
  margin-bottom: 300px;
  padding: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image_brand {
  width: 100px;
  height: 100px;
}

.category_name {
  size: 20px;
  font-family: Arial, sans-serif;
}

.button_category_brand {
  width: 200px;
  max-width:100%;
  height: 200px;
  max-height: 100%
}

/* This style is for the form of the create new post */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

.form-body {
  margin-bottom: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #152733;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
}

.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
position: relative;
text-align: center;
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-justify-content: center;
justify-content: center;
-webkit-align-items: center;
align-items: center;
padding: 60px;
}

.form-content .form-items {
border: 3px solid #fff;
padding: 40px;
display: inline-block;
width: 100%;
min-width: 540px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
text-align: left;
-webkit-transition: all 0.4s ease;
transition: all 0.4s ease;
}

.form-content h3 {
color: #fff;
text-align: left;
font-size: 28px;
font-weight: 600;
margin-bottom: 5px;
}

.form-content h3.form-title {
margin-bottom: 30px;
}

.form-content p {
color: #fff;
text-align: left;
font-size: 17px;
font-weight: 300;
line-height: 20px;
margin-bottom: 30px;
}


.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
color: #fff;
}

.form-content input[type=text], .form-content input[type=password], .form-content input[type=email], .form-content select {
width: 100%;
padding: 9px 20px;
text-align: left;
border: 0;
outline: 0;
border-radius: 6px;
background-color: #fff;
font-size: 15px;
font-weight: 300;
color: #8D8D8D;
-webkit-transition: all 0.3s ease;
transition: all 0.3s ease;
margin-top: 16px;
}


.btn-primary{
background-color: #6C757D;
outline: none;
border: 0px;
 box-shadow: none;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
background-color: #495056;
outline: none !important;
border: none !important;
 box-shadow: none;
}

.form-content textarea {
position: static !important;
width: 100%;
padding: 8px 20px;
border-radius: 6px;
text-align: left;
background-color: #fff;
border: 0;
font-size: 15px;
font-weight: 300;
color: #8D8D8D;
outline: none;
resize: none;
height: 120px;
-webkit-transition: none;
transition: none;
margin-bottom: 14px;
}

.form-content textarea:hover, .form-content textarea:focus {
border: 0;
background-color: #ebeff8;
color: #8D8D8D;
}

.mv-up{
margin-top: -9px !important;
margin-bottom: 8px !important;
}

.invalid-feedback{
color: #ff606e;
}

.valid-feedback{
color: #2acc80;
}



@keyframes hide {
  0% {
      opacity: 1;
      height: 100%;
  }
  75% {
      opacity: 0;
      height: 100%;
  }
  100% {
      opacity: 0;
      height: 0px;
  }
}

.hide  {
  float: right;
}

article.card.car-details {
  border: 1px solid #f8f9fa;
  box-shadow: 0 0 20px 0px #dee2e6;
  cursor: pointer;
  overflow: hidden;
  animation-name: hide;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-duration: 2s;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}