{% extends "car/layout.html" %}
{% block title %}Create New Post{% endblock %}
{% block body %}

    <form action="{% url 'create_new_car_post' %}" method="post">
        <div class="form-body">
            <div class="row">
                <div class="form-holder">
                    <div class="form-content">
                        <div class="form-items">
                            <h3>Create New Car Post</h3>
                            <p>Plesae fill in the data below.</p>
                            <form class="requires-validation" novalidate>
                                {% csrf_token %}
                                <div class="col-md-12">
                                   <input class="form-control" type="text" name="price" placeholder="Price" required>
                                   <div class="valid-feedback">Price field is valid!</div>
                                   <div class="invalid-feedback">Price field cannot be blank!</div>
                                </div>

                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="mark_category" placeholder="Brand" required>
                                    <div class="valid-feedback">Brand field is valid!</div>
                                    <div class="invalid-feedback">Brand field cannot be blank!</div>
                                 </div>

                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="model" placeholder="Model" required>
                                    <div class="valid-feedback">Model field is valid!</div>
                                    <div class="invalid-feedback">Model field cannot be blank!</div>
                                </div>

                                <div class="col-md-12" id="selection_year" id="selection_year"></div>                                
                                <script  type="text/babel">
                                    const SelectionYear = () => {
                                        const years = [];
                                        for (let i = 1990; i <= 2023; i++) {
                                            years.push(<option key={i} value={i}>{i}</option>);
                                        }
                                        return (
                                            <React.Fragment>
                                                <select class="form-select mt-3" name="year" required>
                                                    <option selected disabled >Year</option>
                                                    {years}
                                                </select>
                                                <div class="valid-feedback">You selected a year!</div>
                                                <div class="invalid-feedback">Please select a year!</div>
                                            </React.Fragment>
                                        );
                                    };
                                    ReactDOM.render(<SelectionYear />, document.getElementById("selection_year"))
                                </script>

                                 <div class="col-md-12">
                                    <input class="form-control" type="text" name="mileage" placeholder="Mileage" required>
                                    <div class="valid-feedback">Mileage field is valid!</div>
                                    <div class="invalid-feedback">Mileage field cannot be blank!</div>
                                 </div>
    
                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="engine_capacity" placeholder="Engine Capacity" required>
                                     <div class="valid-feedback">Engine Capacity field is valid!</div>
                                     <div class="invalid-feedback">Engine Capacity field cannot be blank!</div>
                                </div>

                                <div class="col-md-12">
                                    <select class="form-select mt-3" name="transmission" required>
                                        <option selected disabled >Transmission</option>
                                          <option value="mt">mt</option>
                                          <option value="at">at</option>
                                          <option value="cvt">cvt</option>
                                   </select>
                                    <div class="valid-feedback">You selected a transmission!</div>
                                    <div class="invalid-feedback">Please select a transmission!</div>
                               </div>

                                <div class="col-md-12">
                                <select class="form-select mt-3" name="drive" required>
                                    <option selected disabled >Drive</option>
                                      <option value="4wd">4wd</option>
                                      <option value="awd">awd</option>
                                      <option value="2wd">2wd</option>
                                </select>
                                <div class="valid-feedback">You selected a drive!</div>
                                <div class="invalid-feedback">Please select a drive!</div>
                                </div>

                                <div class="col-md-12">
                                    <select class="form-select mt-3" name="hand_drive" required>
                                        <option selected disabled >Hand drive</option>
                                          <option value="lhd">lhd</option>
                                          <option value="rhd">rhd</option>
                                          <option value="center">center</option>
                                    </select>
                                    <div class="valid-feedback">You selected a hand drive!</div>
                                    <div class="invalid-feedback">Please select a hand drive!</div>
                                </div>

                                <div class="col-md-12">
                                    <select class="form-select mt-3" name="fuel" required>
                                        <option selected disabled >Fuel</option>
                                          <option value="hybrid">hybrid</option>
                                          <option value="diesel">diesel</option>
                                          <option value="cng">cng</option>
                                          <option value="gasoline">gasoline</option>
                                          <option value="lpg">lpg</option>
                                    </select>
                                    <div class="valid-feedback">You selected a fuel!</div>
                                    <div class="invalid-feedback">Please select a fuel!</div>
                                </div>

                                <div class="col-md-12">
                                    <input class="form-control" type="text" name="image_url" placeholder="Image url" required>
                                     <div class="valid-feedback">Image url field is valid!</div>
                                     <div class="invalid-feedback">Image url field cannot be blank!</div>
                                </div>
                            
                            <div class="form-check">
                              <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                              <label class="form-check-label">I confirm that all data are correct</label>
                             <div class="invalid-feedback">Please confirm that the entered data are all correct!</div>
                            </div>
                            
    
                                <div class="form-button mt-3">
                                    <button id="submit" type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </form>
    <script>
        (function () {
        'use strict'
        const forms = document.querySelectorAll('.requires-validation')
        Array.from(forms)
        .forEach(function (form) {
            form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
                event.preventDefault()
                event.stopPropagation()
            }

            form.classList.add('was-validated')
            }, false)
        })
        })()
    </script>
{% endblock %}