{% extends "car/layout.html" %}
{% block title %}Home{% endblock %}
{% block body %}
    
    <div id="root"></div>

    <script type="text/babel">
       class Pagination extends React.Component{
            constructor(props){
                super(props);
            }

            render (){
                return (
                    <div>
                        <ul class="pagnigation">
                            {(this.props.pageNumber-1>0) ? 
                                <li>
                                    <button onClick={() => this.props.onPageChange(event,this.props.pageNumber -1)}>Previous</button>
                                </li>
                                : <li>DO not have previous</li>
                            } 
                            <li>{this.props.pageNumber}</li>
                            {(this.props.pageNumber+1<this.props.numberPages+1) ?
                                <li>
                                    <button onClick={() => this.props.onPageChange(event,this.props.pageNumber+1)}>Next</button>    
                                </li>
                                : <li>Do not have next</li>
                            }
                        </ul>

                    </div>
                );
            }
       }
        class Total extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    carList: [],
                    numberPage:232,
                    currentPage: 1
                };
                this.handlePageChange = this.handlePageChange.bind(this);
            }
            
            async fetchData(current_page){
                fetch(`api/pagnigation/?page=${current_page}`)
                    .then(response => response.json())
                    .then(data => this.setState({ 
                        carList: data.results,
                        numberPage:Math.ceil(data.count/10),
                        currentPage: data.num_pages 
                    }))
                    .catch(error => console.error(error));
                    
            }

            handlePageChange(event, value) {
                console.log(this.state.currentPage);
                this.setState({
                currentPage: value,
                });
            }

            componentDidMount(){
                this.fetchData(this.state.currentPage);
            }

            componentDidUpdate(prevProps, prevState) {
                if (prevState.currentPage !== this.state.currentPage) {
                this.fetchData(this.state.currentPage);
                }
            }

            render() {
                const data = this.state.carList;
                

                return (
                    <div>
                        {data && data.map((car) => (
                            <div key={car["id"]}>
                                <div class="col-12">
                                <article class="card car-details label-info sponsored">
                                    <div class="card-body">
                                        <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                                            <div class="thumbnail position-relative mb-md-0 mb-3">
                                                <img src={car["image_url"]} alt={car["model"]} class="image"/>
                                            </div>
                                            <div class="w-100">
                                                <div class="d-flex flex-md-row flex-column">
                                                    <h3 class="mr-3">{car['mark_category']} {car["model"]}</h3>
                                                    <div class="ml-auto text-right">
                                                        <h3>${car["price"]}</h3>
                                                        <ul class="rating">
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> {car["mileage"]}KM </li>
                                                                <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> {car['owner']}</li>
                                                                <li><i class="fas fa-calendar"></i> <strong>Brand: </strong> {car['mark_category']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Transmission:</strong> {car['transmission']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-8 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> {car["fuel"]} </li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Drive:</strong> {car["drive"]}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Hand Drive:</strong> {car["hand_drive"]}</li>
                                                                <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                                                <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-phone"></i> Contact Seller</button>
                                                                <button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-parking"></i> Park</button>
                                                                <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                </div>
                            </div>   
                        ))}

                        <Pagination pageNumber={this.state.currentPage} numberPages={this.state.numberPage} onPageChange={this.handlePageChange}/>
                    </div>
                );
            }
        }

        ReactDOM.render(<Total />, document.getElementById("root"))
    </script>
{% endblock %}