{% extends "car/layout.html" %}
{% block title %}Watch List{% endblock %}
{% block body %}
    
    <div id="root"></div>

    <script type="text/babel">
        const user_id = '{{ user_id|escapejs }}';
        //This class component is Pagination component 
        // Inherit the props data from its parent component with 1 attribute (this.props.pageNumber) and 1 method (this.props.onPageChange)
        class Pagination extends React.Component{
            constructor(props){
                super(props);
            }

            // render a list of 3 items of previous, current and next page
            render (){
                    // Declare the this.props data in this scope
                // For the next page, make sure the page is not add with string, it is a plus for 2 number integer
                const prevPage = this.props.pageNumber - 1;
                const nextPage = +this.props.pageNumber + 1;
                return (
                    <div id="pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justify-content-center">
                                { prevPage>0 &&
                                    <React.Fragment>
                                    <li class="page-item">
                                        <button onClick={() => this.props.onPageChange(event,prevPage)}><span aria-hidden="true">&laquo;</span></button>
                                    </li>
                                    <li class="page-item">
                                        <button onClick={() => this.props.onPageChange(event,prevPage)}>{prevPage}</button>
                                    </li>
                                    </React.Fragment>
                                }
                                <li class="page-item"><button onClick={() => this.props.onPageChange(event,this.props.pageNumber)}>{this.props.pageNumber}</button></li>
                                { nextPage<this.props.numberPages+1 &&
                                    <React.Fragment>
                                        <li class="page-item">
                                            <button onClick={() => this.props.onPageChange(event,nextPage)}>{nextPage}</button>    
                                        </li>
                                        <li class="page-item">
                                            <button onClick={() => this.props.onPageChange(event,nextPage)}>
                                                <span aria-hidden="true">&raquo;</span>
                                            </button>
                                        </li>
                                    </React.Fragment>
                                }
                            </ul>
                        </nav>

                    </div>
                );
            }
       }

       // This class component is the total component include other component 
       // Now it includes Pagination class component 
        class Total extends React.Component{
            
            // It has the this.state is defined at first 
            // carList represents the list/array of the car in one paginated page
            // numberPage represents for the number of pages
            // currentPage represents for the current page 
            constructor(props){
                super(props);
                this.state = {
                    carList: [],
                    numberPage:232,
                    currentPage: 1
                };

                // bind the function handlePageChange in the boundary of "this" class scope
                this.handlePageChange = this.handlePageChange.bind(this);
            }
            //The async keyword is used in this function to indicate that it is an asynchronous function.
            // An asynchronous function is a function that does not block the execution of the rest of the code while it is waiting for a response.
            // In other words, the function does not wait for the response from the fetch() method before moving on to the next line of code.
            // This is the fetchData function which everytime is called will fetch the input "currentp_page" url with api
            // Then setState of this.state of the class to update the number th of the current page and all the car items are paginated int his page
            async fetchData(current_page){
                await fetch(`api/${user_id}/?page=${current_page}`)
                    .then(response => response.json())
                    .then(data => this.setState({ 
                        carList: data.results,
                        numberPage:data.count,
                        currentPage: data.num_pages 
                    }))
                    .catch(error => console.error(error));
            }

            //The event parameter in this function is typically used to capture any events associated 
            // with the pagination control, such as a click or keypress event
            // This function will setState pf the this.state.currentPage to the "value" input  
            handlePageChange(event, value) {
                this.setState({
                currentPage: value,
                });
            }

            // This method is called after a component has been mounted (inserted into the DOM tree) for the first time.
            // It is commonly used to initiate requests to fetch data from an external API or to set up event listeners. 
            // By the time componentDidMount() is called, the component's render method has already been called, and the  
            //component's element has been added to the DOM. And for the initial first time the element is added to DOM 
            // the function fetchData is called
            componentDidMount(){
                this.fetchData(this.state.currentPage);
            }

            // componentDidUpdate() is another lifecycle method in React, which is called after a component's update has been flushed to the DOM. 
            // It is called immediately after the component re-renders due to a change in its state or props.
            // prevProps and prevState, which represent the previous props and state of the component before the update. 
            // So everytime the currentPage is updated, then it will excute the code, in this case is called new fetchData function to update new list of car and number of page
            componentDidUpdate(prevProps, prevState) {
                if (prevState.currentPage !== this.state.currentPage) {
                this.fetchData(this.state.currentPage);
                }
            }

            // The working flow of this coponent is:
            // Firstly, the handlepgaeChange is called (by the button clicked from the Pagination component) => output: setState for this.data.currentPage
            // Secondly, when the this.data.currentPage is updated, which activate the componentDidUpdate (when they compare prevState.currentPage !== this.state.currentPage) 
            // => output: call fetchData function, fetchData function is called then fetch data from API, then setState for the this.state.... data 
            render() {
                const data = this.state.carList;
                

                return (
                    <div>
                        {data && data.map((car) => (
                            <div key={car["id"]}>
                                <div class="col-12">
                                <article class="card car-details label-info sponsored">
                                    <div class="card-body">
                                        <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                                            <div class="thumbnail position-relative mb-md-0 mb-3">
                                                <img src={car["image_url"]} alt={car["model"]} class="image"/>
                                            </div>
                                            <div class="w-100">
                                                <div class="d-flex flex-md-row flex-column">
                                                    <h3 class="mr-3">{car['mark_category']} {car["model"]}</h3>
                                                    <div class="ml-auto text-right">
                                                        <h3>${car["price"]}</h3>
                                                        <ul class="rating">
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> {car["mileage"]}KM </li>
                                                                <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> {car['owner']}</li>
                                                                <li><i class="fas fa-calendar"></i> <strong>Brand: </strong> {car['mark_category']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Transmission:</strong> {car['transmission']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-8 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> {car["fuel"]} </li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Drive:</strong> {car["drive"]}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Hand Drive:</strong> {car["hand_drive"]}</li>
                                                                <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                                                <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-phone"></i> Contact Seller</button>
                                                                <button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-parking"></i> Park</button>
                                                                <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        
                                    </div>
                                </article>
                                </div>
                            </div>   
                        ))}

                        <Pagination pageNumber={this.state.currentPage} numberPages={this.state.numberPage} onPageChange={this.handlePageChange}/>
                    </div>
                );
            }
        }

        ReactDOM.render(<Total />, document.getElementById("root"))
    </script>
{% endblock %}