{% extends "car/layout.html" %}
{% block title %}Watch List{% endblock %}
{% block body %}
    
    <div id="root"></div>
    <!--import the function component: pagination and addWatchListButton
    -- note that the src url without "/" to the categpry url. 
    -->
    <script src="/static/car/pagination.js" type="text/babel"></script>
    <script src="/static/car/addWatchListButton.js" type="text/babel"></script>
    <script type="text/babel">
        // the user_id is passed from the views.py
        const user_id = '{{ user_id|escapejs }}';

        function Total (){
            /* @param: isWatchListPage check wheather the page is watch list page or not
            * @param: carList represents the all the cards/posts containing all the information
            * @param: currentPage is the page current in pagination
            * divided the whole cards/posts of data into pages, 10 cards per page to load data faster
            * @param: watchList is the watchlist by current user 
            */
            const isWatchListPage = true;
            const [carList, setcarList] = React.useState([]);
            const [numberPage, setnumberPage] = React.useState(232);
            const [currentPage, setcurrentPage] = React.useState(1);
            const [watchList, setwatchList] = React.useState([]);

            /* function fetchData_pagination with input the currentPage
            * access API URL to fetch data and then set data into value for parameters in useState 
            * set value for carList, currentPage, total number of pages (numberPage)
            */
            async function fetchData_pagination(currentPage){
                try {
                    const response = await fetch(`api/${user_id}/?page=${currentPage}`);
                    const data = await response.json();
                    setcarList(data.results);
                    setnumberPage(data.count);
                    setcurrentPage(data.num_pages);
                }
                catch (error){
                    console.log(error);
                }
            }

            /* function handlePageChange with input value
            * set the current page to the new value 
            * This functions tend to update value of current page when the user move to next or previous page
            */
            function handlePageChange(value){
                setcurrentPage(value);
            }

            /* function removeCarFromList has input carId to remove it from client-side front end 
             * get the element by carId in list of card, to hide and remove it 
             * update the carList = the previous carList - the card with carId
             */
            function removeCarFromList(carId) {
                // Alternatively, you can directly modify the DOM using a library like classnames or manually add/remove the CSS class
                const cardContainer = document.getElementById(`card-${carId}`);
                if (cardContainer.classList.contains('hide')) {
                    cardContainer.article.animationPlayState = 'running';
                    cardContainer.remove();
                }
                
                const updatedCarList = carList.filter(car => car.id !== carId);
                setcarList(updatedCarList);
            }

            /* Render/execute the function "fetchData_pagination" for the first time
            */
            React.useEffect(() => {
                fetchData_pagination(currentPage);
            }, []);

            /* Render/execute the function "fetchData_pagination" (the pagination) 
            * and "fetchDataWatchList" (watch list of user) everytime currrent page is loaded
            */
            React.useEffect(() => {
                fetchData_pagination(currentPage);
                fetchDataWatchList();
            }, [currentPage]);
                
            /* function fetchDataWatchList access API URL to fetch data and then set watchList paramter
            */
            async function fetchDataWatchList() {
                try {
                    const response = await fetch(`api/all/${user_id}`);
                    const data = await response.json();
                    setwatchList(data.results);
                } 
                catch (error) {
                    console.log(error);
                }
            }
        
            /* function checkStateAdd with input carId, check if this carId is in the watchlist or not
            * for child component later display in client-side whether it is added or not to the watch list
            */
            function checkStateAdd(carId) {
                const isCarIdExist = watchList.some((element) => element.id === carId);
                return isCarIdExist;
            }
            return (
                <div>
                    {carList && carList.map((car) => (
                            <div key={car["id"]} id={`card-${car["id"]}`}>
                                <div class="col-12">
                                <article class="card car-details label-info sponsored">
                                    <div class="card-body">
                                        <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                                            <div class="thumbnail position-relative mb-md-0 mb-3">
                                                <img src={car["image_url"]} alt={car["model"]} class="image"/>
                                            </div>
                                            <div class="w-100">
                                                <div class="d-flex flex-md-row flex-column">
                                                    <h3 class="mr-3">{car['mark_category']} {car["model"]}</h3>
                                                    <div class="ml-auto text-right">
                                                        <h3>${car["price"]}</h3>
                                                        <ul class="rating">
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> {car["mileage"]}KM </li>
                                                                <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> {car['owner']}</li>
                                                                <li><i class="fas fa-calendar"></i> <strong>Brand: </strong> {car['mark_category']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Transmission:</strong> {car['transmission']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-8 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> {car["fuel"]} </li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Drive:</strong> {car["drive"]}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Hand Drive:</strong> {car["hand_drive"]}</li>
                                                                <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                                                <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-phone"></i> Contact Seller</button>
                                                                {/*<button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0" id={`add_to_watchlist_${car.id}_button`} onClick={() => add_to_watchList(car["id"])}><i class='fas fa-plus'></i> Add to watch list</button>*/}
                                                                <AddWatchListButton 
                                                                    checkState = {checkStateAdd(car["id"])}
                                                                    car_id = {car["id"]}
                                                                    user_id = {user_id}
                                                                    isWatchListPage = {isWatchListPage}
                                                                    fetchWatchListData={fetchDataWatchList}
                                                                    onRemoveCard = {removeCarFromList}
                                                                />
                                                                <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        
                                    </div>
                                </article>
                                </div>
                            </div>   
                        ))}

                <Pagination
                    pageNumber={currentPage}
                    numberPages={numberPage}
                    onPageChange={handlePageChange}
                />
                </div>
            );
        }

        /*
        class Total extends React.Component{
            
            // It has the this.state is defined at first 
            // carList represents the list/array of the car in one paginated page
            // numberPage represents for the number of pages
            // currentPage represents for the current page 
            constructor(props){
                super(props);
                this.state = {
                    carList: [],
                    numberPage:232,
                    currentPage: 1
                };

                // bind the function handlePageChange in the boundary of "this" class scope
                this.handlePageChange = this.handlePageChange.bind(this);
            }
            //The async keyword is used in this function to indicate that it is an asynchronous function.
            // An asynchronous function is a function that does not block the execution of the rest of the code while it is waiting for a response.
            // In other words, the function does not wait for the response from the fetch() method before moving on to the next line of code.
            // This is the fetchData function which everytime is called will fetch the input "currentp_page" url with api
            // Then setState of this.state of the class to update the number th of the current page and all the car items are paginated int his page
            async fetchData(current_page){
                await fetch(`api/${user_id}/?page=${current_page}`)
                    .then(response => response.json())
                    .then(data => this.setState({ 
                        carList: data.results,
                        numberPage:data.count,
                        currentPage: data.num_pages 
                    }))
                    .catch(error => console.error(error));
            }

            //The event parameter in this function is typically used to capture any events associated 
            // with the pagination control, such as a click or keypress event
            // This function will setState pf the this.state.currentPage to the "value" input  
            handlePageChange(event, value) {
                this.setState({
                currentPage: value,
                });
            }

            // This method is called after a component has been mounted (inserted into the DOM tree) for the first time.
            // It is commonly used to initiate requests to fetch data from an external API or to set up event listeners. 
            // By the time componentDidMount() is called, the component's render method has already been called, and the  
            //component's element has been added to the DOM. And for the initial first time the element is added to DOM 
            // the function fetchData is called
            componentDidMount(){
                this.fetchData(this.state.currentPage);
            }

            // componentDidUpdate() is another lifecycle method in React, which is called after a component's update has been flushed to the DOM. 
            // It is called immediately after the component re-renders due to a change in its state or props.
            // prevProps and prevState, which represent the previous props and state of the component before the update. 
            // So everytime the currentPage is updated, then it will excute the code, in this case is called new fetchData function to update new list of car and number of page
            componentDidUpdate(prevProps, prevState) {
                if (prevState.currentPage !== this.state.currentPage) {
                this.fetchData(this.state.currentPage);
                }
            }

            // The working flow of this coponent is:
            // Firstly, the handlepgaeChange is called (by the button clicked from the Pagination component) => output: setState for this.data.currentPage
            // Secondly, when the this.data.currentPage is updated, which activate the componentDidUpdate (when they compare prevState.currentPage !== this.state.currentPage) 
            // => output: call fetchData function, fetchData function is called then fetch data from API, then setState for the this.state.... data 
            render() {
                const data = this.state.carList;
                

                return (
                    <div>
                        {data && data.map((car) => (
                            <div key={car["id"]}>
                                <div class="col-12">
                                <article class="card car-details label-info sponsored">
                                    <div class="card-body">
                                        <div class="d-flex flex-md-row align-items-md-start align-items-center flex-column">
                                            <div class="thumbnail position-relative mb-md-0 mb-3">
                                                <img src={car["image_url"]} alt={car["model"]} class="image"/>
                                            </div>
                                            <div class="w-100">
                                                <div class="d-flex flex-md-row flex-column">
                                                    <h3 class="mr-3">{car['mark_category']} {car["model"]}</h3>
                                                    <div class="ml-auto text-right">
                                                        <h3>${car["price"]}</h3>
                                                        <ul class="rating">
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-warning"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                            <li><i class="fas fa-star text-grey"></i></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <hr/>
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-4 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-tachometer-alt"></i> <strong>Millage:</strong> {car["mileage"]}KM </li>
                                                                <li><i class="fas fa-users"></i> <strong>Prev Owners:</strong> {car['owner']}</li>
                                                                <li><i class="fas fa-calendar"></i> <strong>Brand: </strong> {car['mark_category']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Transmission:</strong> {car['transmission']}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-md-8 col-12">
                                                            <ul>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Fuel Type:</strong> {car["fuel"]} </li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Drive:</strong> {car["drive"]}</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Hand Drive:</strong> {car["hand_drive"]}</li>
                                                                <li data-toggle="tooltip" title="The emission class determines the tax bracket of a vehicle. You can find it under number 14 in the registration certificate part 1 (vehicle registration)."><i class="fas fa-info-circle"></i> <strong>Emission Class:</strong> 1,390cc</li>
                                                                <li><i class="fas fa-info-circle"></i> <strong>Engine Capacity:</strong> {car["engine_capacity"]}</li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="d-flex flex-md-row flex-column align-items-center justify-content-end">
                                                                <button class="btn btn-success w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-phone"></i> Contact Seller</button>
                                                                <button class="btn btn-default w-100 mb-md-0 mb-3 mr-md-3 mr-0"><i class="fas fa-parking"></i> Park</button>
                                                                <button class="btn btn-default w-100"><i class="fas fa-comment"></i> Comments(18)</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        
                                    </div>
                                </article>
                                </div>
                            </div>   
                        ))}

                        <Pagination pageNumber={this.state.currentPage} numberPages={this.state.numberPage} onPageChange={this.handlePageChange}/>
                    </div>
                );
            }
        }*/

        ReactDOM.render(<Total />, document.getElementById("root"))
    </script>
{% endblock %}